<?xml version="1.0" encoding="utf-8"?>

<log4net>
  <!-- Console Appender -->
  <appender name="ConsoleAppender"
            type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss,fff} %thread %-5level [Machine:%property{log4net:HostName}] [Trace:%property{TraceId}] %message - %logger%newline%exception" />
    </layout>
  </appender>

  <!-- Daily Rolling File Appender -->
  <appender name="RollingFileAppender"
            type="log4net.Appender.RollingFileAppender">
    <file value="Logs/UniCore.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="'.'yyyy-MM-dd" />
    <staticLogFileName value="true" />
    <maxSizeRollBackups value="7" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss,fff} %thread %-5level [Machine:%property{log4net:HostName}] [Trace:%property{TraceId}] %message - %logger%newline%exception" />
    </layout>
  </appender>

  <!-- SQL Server Database AdoNetAppender -->
  <appender name="AdoNetAppender"
            type="UniCore.API.Logging.CustomAdoNetAppender, UniCore.API">
    <bufferSize value="1" />
    <connectionType value="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient" />
    <commandText value="INSERT INTO dbo.app_logs ([log_date], [thread], [log_level], [logger], [message], [exception], [machine_name], [trace_id]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @machine_name, @trace_id)" />

    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>

    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>

    <parameter>
      <parameterName value="@machine_name" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@trace_id" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{TraceId}" />
      </layout>
    </parameter>
  </appender>

  <!-- Root logger -->
  <root>
    <level value="INFO" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="AdoNetAppender" />
  </root>

  <!-- Loggers -->
  <logger name="Microsoft">
    <level value="WARN" />
  </logger>

  <logger name="Microsoft.Hosting.Lifetime">
    <level value="INFO" />
  </logger>

  <logger name="Microsoft.EntityFrameworkCore">
    <level value="WARN" />
  </logger>

  <logger name="System">
    <level value="WARN" />
  </logger>
</log4net>