USE [UniCore]
GO
/****** Object:  Table [dbo].[CourseStudents]    Script Date: 20/09/2026 10:10:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseStudents](
	[Id] [char](36) NOT NULL,
	[CourseId] [char](36) NOT NULL,
	[StudentId] [char](36) NOT NULL,
	[CourseStartDate] [smalldatetime] NOT NULL,
	[CourseEndDate] [smalldatetime] NOT NULL,
	[CourseWeight] [int] NOT NULL,
	[CourseFinalScore] [numeric](4, 2) NULL,
	[CourseStatus] [char](10) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [varchar](20) NULL,
	[UpdatedBy] [varchar](20) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_CourseStudents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CourseStudents]  WITH CHECK ADD  CONSTRAINT [FK_CourseStudents_Courses2] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[CourseStudents] CHECK CONSTRAINT [FK_CourseStudents_Courses2]
GO
ALTER TABLE [dbo].[CourseStudents]  WITH CHECK ADD  CONSTRAINT [FK_CourseStudents_Students1] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[CourseStudents] CHECK CONSTRAINT [FK_CourseStudents_Students1]
GO
ALTER TABLE [dbo].[CourseStudents]  WITH CHECK ADD  CONSTRAINT [CK_CourseFinalScoreRange] CHECK  (([CourseFinalScore]>=(0) AND [CourseFinalScore]<=(10)))
GO
ALTER TABLE [dbo].[CourseStudents] CHECK CONSTRAINT [CK_CourseFinalScoreRange]
GO
ALTER TABLE [dbo].[CourseStudents]  WITH CHECK ADD  CONSTRAINT [CK_StartDateSmallerEndDate] CHECK  (([CourseStartDate]<[CourseEndDate]))
GO
ALTER TABLE [dbo].[CourseStudents] CHECK CONSTRAINT [CK_StartDateSmallerEndDate]
GO
