USE [UniCore]
GO
/****** Object:  Table [dbo].[StudentClasses]    Script Date: 20/09/2026 10:10:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentClasses](
	[Id] [char](36) NOT NULL,
	[ClassId] [char](36) NOT NULL,
	[StudentId] [char](36) NOT NULL,
	[ClassStartDate] [smalldatetime] NOT NULL,
	[ClassEndDate] [smalldatetime] NOT NULL,
	[ClassFinalScore] [numeric](4, 2) NULL,
	[ClassSupervisor] [varchar](80) NULL,
	[ClassStatus] [char](10) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [varchar](20) NULL,
	[UpdatedBy] [varchar](20) NULL,
 CONSTRAINT [PK_StudentClasses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StudentClasses]  WITH CHECK ADD  CONSTRAINT [FK_StudentClasses_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[StudentClasses] CHECK CONSTRAINT [FK_StudentClasses_Classes]
GO
ALTER TABLE [dbo].[StudentClasses]  WITH CHECK ADD  CONSTRAINT [FK_StudentClasses_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[StudentClasses] CHECK CONSTRAINT [FK_StudentClasses_Students]
GO
ALTER TABLE [dbo].[StudentClasses]  WITH CHECK ADD  CONSTRAINT [CK_ClassFinalScoreRange] CHECK  (([ClassFinalScore]>=(0) AND [ClassFinalScore]<=(10)))
GO
ALTER TABLE [dbo].[StudentClasses] CHECK CONSTRAINT [CK_ClassFinalScoreRange]
GO
ALTER TABLE [dbo].[StudentClasses]  WITH CHECK ADD  CONSTRAINT [CK_ClassStartDateSmallerEndDate] CHECK  (([ClassStartDate]<[ClassEndDate]))
GO
ALTER TABLE [dbo].[StudentClasses] CHECK CONSTRAINT [CK_ClassStartDateSmallerEndDate]
GO
